html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: black;
  color: white;
  font-size: 32px;
  overflow: hidden;
  font-family: sans-serif;
}

h1 {
  font-size: 1em;
  text-align: center;
  margin: 0.3em;
}

#position {
  font-size: 5em;
  text-align: center;
}
